

 .contact-content{
    height:100vh;
    background-color: rgb(190, 229, 185);
    display: block; 
    margin-top: 12px;
    padding: 239px;
    position: relative;
  overflow: hidden;

 }
 .btn-contact button{
  
  z-index: -1;
  font-size: 15px;
  margin-top: 5px;
  border: 2px solid green;
  
  border-radius: 15px;
  padding: 10px;


    font-family: var(--font1);

 
    cursor:pointer;

 }
 


 .btn-contact button:hover{
    background-color: rgb(135, 224, 135);
    transition: all 0.3s ease-in-out;

 }